<div class="row auth-row">
    <div class="col z-depth-2 auth-box">

        <div class="col s6 auth-image-box">
            <img src="/images/auth_pic.jpeg" class="auth-image" />
        </div>

        <div class="col s6">
            <form action="/user/profile/update" method="POST">
                <h4 class="center-align auth-form-title">Your information form</h4>

                {{#if error.length}}
                    <div class="error-flash-container z-depth-2 col s10 offset-s1">
                        <p class="error-flash-text center-align">{{error}}</p>
                    </div>
                {{/if}}

                <div class="input-field col s10 offset-s1">
                    <input id="first_name" type="text" name="first_name" value = "{{user.first_name}}"/>
                    <label for="first_name">First Name</label>
                </div>

                <div class="input-field col s10 offset-s1">
                    <input id="last_name" type="text" name="last_name" value = "{{user.last_name}}"/>
                    <label for="last_name">Last Name</label>
                </div>

                <div class="input-field col s10 offset-s1">
                    <input id="birth_date" type="text" class="datepicker" name="birth_date" value = "{{user.birth_date}}">
                    <label for="birth_date">Birth Date</label>
                </div>

                <input type = "hidden" name="id" value="{{_id}}" />

                <button type="submit" class="btn-large waves-effect waves-light grey darken-3 submit-button">
                    Update
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>

    </div>
</div>